<div class="jumbotron">
  <h1>Love the Diet</h1>
  <h1>Lose the Fat</h1>
  <p>Members Get A Copy For $1, 2 Days Only! Regularly $12.99. <em>Coming September 2013!</em></p>
  <% if notice %>
    <p><%= notice %></p>
    <p><strong>Please check your email to confirm your membership.</strong> Catherine will send you a message when <em>Love the Diet Lose the Fat</em> is available for a limited time at $0.99.</p>
  <% else %>
    <%= form_for("subscribe", url: "/subscribe", html: {class: "form-inline"}) do |f| %>
      <div class="form-group">
        <%= f.text_field :email, class: "form-control", placeholder: "you@example.com" %>
      </div>
      <%= f.submit "Join!", {value: "Join!", class: "btn btn-primary"} %>
      <% if alert %>
        <p style="color:red;"><%= alert %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
